body{
    background-color:#f1f5f8;
}
.menu{
    width: 100%;
    height:50px;
    display: flex;
    justify-content: center;
    background-color: #f8ebb1;
    color: #1f77d4 ;
}
    .menu h4{
        margin-top:15px;
    }
    .menu ul{
        display:flex;
    }
    .menu li{
        list-style-type:none;
    }
    .menu a{
        display:block;
        min-width: 120px;
        text-decoration: none;
        color: #1f77d4 ;
    }

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border:2px solid black;
    width: 200px;
    margin-top:10%;
    margin-left:auto;
    margin-right:auto;
    color: white;
    background-color: black;
}
#button{
    margin-left: 47.5%;
    margin-top:10px;
    background-color: rgba(0, 0, 0, 0);
    border: solid black;
    color: black;

}